hr{
    border:0;
}

#header_main{
    width:100%;
    height:50px;
    background-color:#F8F8FF;
    border-bottom: 1px solid #6A6A6A;
}

#header_main>#logout_btn{
    float:right;
    width:100px;
    height:40px;
    background-color: #6A6A6A;
    margin-top:5px;
    margin-right:20px;
    border:none;
    border-radius:10px;
    color:white;
    font-size:16px;
}

#body_main{
    width:100%;
    height: calc(100vh - 51px);
    min-width:900px;
}

#body_main>#stock_info{
    float:left;
    width: calc(100% - 1502px);
    height:100%;
    border-right: 1px solid #6A6A6A;
}

#stock_info>h3{
    margin-top:10px;
    margin-left:5px;
}

#stock_info>#sample1{
    width: calc(100% - 30px);
    height: 150px;
    background-color:#FFFFFF;
    border:1px solid #6A6A6A;
    border-radius:15px;
    margin:20px auto;
}

#sample1>p{
    margin-top:10px;
    margin-left:20px;
}

#body_main>#chart{
    float:left;
    width:1100px;
    height:100%;
    background-color:#FFFFFF;
}

#chart>#blank{
    width:100%;
    height:20%;
}

#body_main>#contents{
    float:left;
    width: 400px;
    height:100%;
    background-color:#FFFFFF;
    border-left: 1px solid #6A6A6A;
}

#contents>#userinfo{
    width:100%;
    height:100px;
    border-bottom: 1px solid #DADADA;
}

#userinfo>p{
    margin-top:10px;
    margin-left:10px;
}

#contents>#buy_stock{
    width:100%;
    height:300px;
    border-bottom: 1px solid #DADADA;
}

#buy_stock>p{
    margin-top:5px;
    margin-left:5px;
}

#buy_stock>input{
    display:block;
    width: 150px;
    height: 25px;
    background-color: #F8F8FF;
    margin-top:10px;
    margin-left:5px;
    border-color: #EAEAEA;
    border-radius: 5px;
    font-size: 15px;
    color:#6A6A6A;
    box-shadow: none;
}

#buy_stock>button{
    display:block;
    width: 70px;
    height: 40px;
    margin-top:20px;
    margin-left:5px;
    background-color: #363636;
    border-color: #363636;
    border-radius: 10px;

    font-size: 15px;
    color:#FFFFFF;
    box-shadow: none;
}

#buy_stock>h3{
    margin-top:10px;
    margin-left:5px;
}

#contents>#sell_stock{
    width:100%;
    height:300px;
    border-bottom: 1px solid #DADADA;
}

#sell_stock>h3{
    margin-top:10px;
    margin-left:5px;
}

#sell_stock>p{
    margin-top:5px;
    margin-left:5px;
}

#sell_stock>input{
    display:block;
    width: 150px;
    height: 25px;
    background-color: #F8F8FF;
    margin-top:10px;
    margin-left:5px;
    border-color: #EAEAEA;
    border-radius: 5px;
    font-size: 15px;
    color:#6A6A6A;
    box-shadow: none;
}

#sell_stock>button{
    display:block;
    width: 70px;
    height: 40px;
    margin-top:20px;
    margin-left:5px;
    background-color: #363636;
    border-color: #363636;
    border-radius: 10px;

    font-size: 15px;
    color:#FFFFFF;
    box-shadow: none;
}